@import "../../base/normalize.css";
@import "../../base/constants.css";

@import "../../layout/header.css";

@import "../../components/utils/wrappers.css";
@import "../../components/buttons/logout-btn.css";
@import "../../components/buttons/sort-btn.css";
@import "../../components/buttons/add-post-btn.css";
@import "../../components/buttons/user-btn.css";
@import "../../components/buttons/settings-btn.css";
@import "../../components/inputs/search-field.css";
@import "../../components/user/user-profile.css";
@import "../../pages/news-feed/news-feed.css";
@import '../../components/sidebar/sidebar.css';

.settings__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.settings__title {
    padding-top: 140px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: var(--color-white);
}

.settings__container {
    margin-top: 20px;
    padding: 60px 37px 30px 37px;
    max-width: 1280px;
    background-color: var(--color-white);
    border-radius: 16px;
}

.settings-head {
    display: flex;
    flex-direction: row;
}

.settings__user-data {
    margin-left: 58px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 19px 0px;
}

.settings__label {
    margin-bottom: -55px;
    margin-left: 20px;
    z-index: 10;
}

.settings__input {
    position: relative;
    padding: 15px 19px;
    width: 250px;
    height: 51px;
    color: rgba(0, 0, 0, 0.8);
    background: var(--color-white);
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
}

.settings-body {
    margin: 85px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.settings-body__title {
    font-size: 30px;
    line-height: 35px;
    color: var(--color-black);
}

.settings-body__description {
    margin-top: 15px;
    max-width: 907px;
    padding: 32px 36px;
    background: var(--settings-description);
    border-radius: 16px;
}
