.form-content {
    padding: 52px 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    @include font(24px, 32px, 400, normal);

    @include media-laptop {
        padding: 32px 42px;
        max-width: 400px;
    }

    @include media-mobile {
        padding: 32px 42px;
        max-width: 95vw;
        justify-content: center;
    }
}

.form-content_signup {
    padding: 52px 132px 52px 132px;

    @include media-mobile {
        padding: 20px;
        border-radius: 0;
    }
}