@import './add-post-btn.css';

.button__block.button_add {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #35e199;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    border: none;
    cursor: pointer;
}

.button__block.button_add:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 11px 4px -7px rgba(81, 160, 202, 1);
    -moz-box-shadow: 0px 11px 4px -7px rgba(81, 160, 202, 1);
    box-shadow: 0px 11px 4px -7px rgba(81, 160, 202, 1);
}

.button__block.button_add:active {
    transition: .2s ease-out;
    transform: translateY(5px);
}

.button__img.button__img_add {
    width: 22px;
    height: 22px;
}

.button__block.button_add:hover .button__img.button__img_add {
    transform: rotate(180deg);
}

.button__text.button__text_add {
    margin-left: 2px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: var(--color-black);
}

.button__block.button_add_hidden {
  display: none;
}