@import "./button.css";

.button__block.button_upload {
    padding: 8px 34px;
    gap: 0px 8px;
    background-color: var(--modal-dark);
}

.button__block.button_upload:hover {
    background-color: var(--main-color);
}

.button__block.button_upload:hover .button__img {
    transform: translateX(35px);
}

.button__block.button_upload:hover .button__text {
    opacity: 0;
}


.button__block.button_submit {
    padding: 14px 68px;
    background-color: var(--modal-submit);
}

.button__block.button_submit:hover {
    background-color: var(--color-dark-green);
}

.button__block.button_submit:active,
.button__block.button_upload:active {
    transition: 0.1s ease-in;
    -webkit-box-shadow: 9px 19px 10px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 9px 19px 10px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 9px 19px 10px -11px rgba(0, 0, 0, 0.7);
}

.button__block.button_close {
    margin-left: auto;
    width: 35px;
    height: 45px;
    background: none;
}

.button__block.button_close:hover {
    transform: rotate(180deg);
}

.button__block.button_close:active {
    transition: .05s ease-in-out;
    transform: scale(0.8);
}