.form {
    padding-top: 110px;
    height: 699px;
}

.form__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1040px;
    height: 699px;
}

.form__container {
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    border-radius: 8px;
}

.form__img {
    width: 456px;
    height: 699px;
    border: none;
    border-radius: 8px;
}

.form-content {
    padding: 82px 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 584px;
    height: 534px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
}

.form-content__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: var(--text-main-color);
}

.form-content__subtitle {
    padding-top: 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--text-second-color);
}

.form__prompt {
    margin-top: 32px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--text-second-color);
}

.form__link {
    text-decoration-line: underline;
    color: var(--link-main-color);
    transition: var(--transition);
}

.form__link:hover {
    color: var(--link-hover-color);
}

.form__link:active{
    color: var(--color-black);
}

.form__link:visited{
    color: var(--link-visited-color);
}

.form-content__subtitle .form-content__subtitle_resize {
    padding-top: 23px;
    width: 350px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--text-second-color);
}
