.user {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 388px;
    align-items: center;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.user-img {
    padding: 19px 38px;
    background-color: var(--color-white);
    border-radius: 16px;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 11px 0px;
    width: 388px;
    background-color: var(--color-white);
    border-radius: 16px;
}

.user-name__text {
    text-align: center;
}

.user-btn__group {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13px 13px;
}

.user-about {
    margin-top: 22px;
    padding: 16px 21px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 16px;
}

.user-about__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

.user-about__description {
    padding-top: 20px;
    font-size: 20px;
    line-height: 23px;
    color: var(--text-description);
}

.user-feed {
    display: flex;
    flex-direction: column;
    max-width: 657px;
}
