:root {
    --main-color: #214457;

    --text-main-color: #000836;
    --text-second-color: #474749;
    --text-description: #333333;
    --link-main-color: #ff1773;
    --link-hover-color: #304079;
    --link-visited-color: #00b393;
    
    --color-green: #35e199;
    --color-dark-green: #008b16;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #262a2c;
    --form-submit: #083883;

    --modal-dark: #233327;
    --modal-submit: #10a73a;
    --color-subscribe: #008b16;
    --color-unsubscribe: #ff0700;
    /* input fields */
    --input-main: #f4f4f4;

    --color-text-area: #e6dede;

    --settings-btn: #318EC2;
    --settings-description: #dedddd;


    --transition: .3s all ease-in-out; 
}