.header__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1842px;
    height: 57px;
}

.header {
    padding: 12px 40px 0px 40px;
    height: 80px;
    background-color: var(--main-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.header_loginned {
    background: url("../../assets/img/background.png") no-repeat;
    background-size: cover;
    background-position: 50% 49%;
}

.burger__image {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.logo {
    margin-left: 185px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 148px;
    max-height: 54px;
}

.logo__image {
    width: 56px;
    height: 54px;
}

.logo__title {
    margin: 0px;
    padding: 0px 0px 0px 18px;
    align-items: flex-start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: var(--color-white);
}
